:host{
    height: 100%;
}
.back-button {
    cursor: pointer;
}
.chat-container{
    height: calc(100% - 40px);
    padding:20px;
    justify-content: center;
    align-items: center;
    .dummy{
        flex: 1;
    }
    .chat-message{
        width: 100%;
        max-height: 439px;
        overflow-y: scroll;
        scroll-snap-type: y proximity;
    }
    .chat-message::-webkit-scrollbar {
        display: none;
    }
    .chat-message > div:last-child {
        scroll-snap-align: end;
    }
    .chat-message-input{
        min-width: 100%;
        input{
            flex: 1;
        }
       gap: 10px;
       justify-content: center;
    }
}