<div class="d-flex flex-column container room-cards">
    <div *ngFor="let singleRoom of roomsInfo;let i=index" class="single-room-card" >
        <div class="room-name" (click)="setRoomInfo(singleRoom)">{{singleRoom.name}}</div>
        <div class="delete-icon">
            <i class="bi bi-trash-fill" (click)="deleteRoom(i,singleRoom._id)"></i>
        </div>
    </div>
    <!-- <app-modal #modal></app-modal> -->
    <div class="add-card" (click)="openModal()">
        <p><i class="bi bi-house-add-fill"></i></p>
    </div>
</div>
